.sidebar {
    position: fixed;
    background-color: rgb(55, 208, 157);
    top: 55px;
    bottom: 0px;
    left: 0px;
    width: 72px;
    background-color: white;
    border-right: 1px solid rgb(192, 192, 192);

}